@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;

  border: none;
  outline: none;

  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --second-bg-color: #112e42;
  --text-color: #ededed;
}

html {
  overflow-x: hidden;

  font-size: 62.5%;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 2rem 9%;

  transition: 0.3s;

  background: transparent;
}

.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;

  color: var(--text-color);

  font-size: 2.5rem;
  font-weight: 600;
}
.navbar {
  position: relative;
}

.navbar a {
  margin-left: 3.5rem;

  transition: 0.3s;

  color: var(--text-color);

  font-size: 1.7rem;
  font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;

  display: none;

  cursor: pointer;

  color: var(--text-color);

  font-size: 3.6rem;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;

  padding: 0 9%;

  background: url("/assets/images/home.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content {
  z-index: 99;

  max-width: 60rem;
}

.home-content h1 {
  position: relative;

  display: inline-block;

  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  position: relative;

  width: 32.8rem;
}

.home-content .text-animate h3 {
  color: transparent;
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  background-position: -33rem 0;
  -webkit-background-clip: text;

  font-size: 3.2rem;
  font-weight: 700;

  -webkit-text-stroke: 0.7px var(--main-color);
}

.home.show-animate .home-content .text-animate h3 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
.home-content .text-animate h3::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";

  border-right: 2px solid var(--main-color);
}
.home.show-animate .home-content .text-animate h3::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  position: relative;

  margin: 2rem 0 4rem;

  font-size: 1.6rem;
}

.btn-box {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  z-index: 1;

  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 15rem;
  height: 100%;

  transition: 0.5s;
  letter-spacing: 0.1rem;

  color: var(--bg-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 15px;
  background: var(--main-color);

  font-size: 1.8rem;
  font-weight: 600;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  color: var(--main-color);
  background: transparent;
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";
  transition: 0.5s;

  background: var(--bg-color);
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;

  display: flex;
  justify-content: space-between;

  width: 170px;
}

.home-sci a {
  position: relative;
  z-index: 1;

  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  transition: 0.5s;

  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  background: transparent;

  font-size: 20px;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";
  transition: 0.5s;

  background: var(--main-color);
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;

  width: 45%;
  height: 100%;

  transition: 3s;

  background: transparent;
}

.home-imgHover:hover {
  opacity: 0.8;
  background: var(--bg-color);
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 6rem;

  background: var(--second-bg-color);

  gap: 2rem;
}

.heading {
  position: relative;

  margin-bottom: 3rem;

  text-align: center;

  font-size: 5rem;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25rem;
  height: 25rem;

  border-radius: 50%;
}

.about-img img {
  width: 90%;
  height: 90%;

  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%) rotate(0);
  animation: aboutSpinner 8s linear infinite;

  border-top: 0.2rem solid var(--second-bg-color);
  border-right: 0.2rem solid var(--main-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-radius: 50%;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;

  display: inline-block;

  font-size: 2.6rem;
}

.about-content p {
  position: relative;

  margin: 2rem 0 3rem;

  font-size: 1.6rem;
}

.btn-box.btns {
  display: inline-block;

  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

.education {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;

  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;

  display: inline-block;

  margin: 0 0 1.5rem 2rem;

  font-size: 2.5rem;
}

.education-column .education-box {
  position: relative;

  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;

  padding-left: 2rem;
}

.education-box .education-content::before {
  position: absolute;
  top: 0;
  left: -1.1rem;

  width: 2rem;
  height: 2rem;

  content: "";

  border-radius: 50%;
  background: var(--main-color);
}

.education-content .content {
  position: relative;

  overflow: hidden;

  margin-bottom: 2rem;
  padding: 1.5rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
}

.education-content .content::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";
  transition: 0.5s;

  background: var(--second-bg-color);
}

.education-content .content:hover:before {
  width: 100%;
}

.education-content .content .year {
  padding-bottom: 0.5rem;

  color: var(--main-color);

  font-size: 1.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  padding-top: 0.5rem;

  font-size: 1.6rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;

  background: var(--second-bg-color);
}
.skills h2 {
  left: 50%;

  display: inline-block;

  transform: translateX(-50%);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;

  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  position: relative;

  display: inline-block;

  margin: 0 0 1.5rem;

  font-size: 2.5rem;
}
.skills-column .skills-box {
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  z-index: 1;

  overflow: hidden;

  padding: 0.5rem 1.5rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
}

.skills-box .skills-content::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";
  transition: 0.5s;

  background: var(--bg-color);
}

.skills-box .skills-content:hover:before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  display: flex;
  justify-content: space-between;

  font-size: 1.7rem;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  margin: 1rem 0;
  padding: 0.5rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
}

.skills-content .progress .bar span {
  display: block;

  height: 100%;

  border-radius: 0.3rem;
  background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 65%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 67%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 65%;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}
.contact h2 {
  left: 50%;

  display: inline-block;

  transform: translateX(-50%);
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;

  text-align: center;
}

.contact form .input-box {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .input-box .input-field {
  position: relative;

  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  color: var(--text-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  background: transparent;

  font-size: 1.6rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  transition: 0.5s;

  border-radius: 0.6rem;
  background: var(--second-bg-color);
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;

  display: flex;

  margin: 0.8rem 0 2.7rem;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}
.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 2rem 9%;

  background: var(--second-bg-color);
}
.footer-text,
.footer-iconTop {
  position: relative;
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  position: relative;
  z-index: 1;

  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  padding: 0.8rem;

  border: 0.2rem solid var(--main-color);
  border-radius: 1.5rem;
  background: var(--main-color);
}
.footer-iconTop a::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  content: "";
  transition: 0.3s;

  background: var(--second-bg-color);
}
.footer-iconTop a:hover::before {
  width: 100%;
}
.footer-iconTop a i {
  transition: 0.5s;

  color: var(--bg-color);

  font-size: 3.2rem;
}
.footer-iconTop a:hover i {
  color: var(--main-color);
}

// ANIMATION RELOAD AND SCROLL

.animate {
  position: absolute;
  z-index: 98;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--bg-color);
}
.animate.home-img {
  width: 50%;
}
.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRigth 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}
.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(0.3s / var(--i));
  animation: none;
}
section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
  background: var(--second-bg-color);
}

.education .education-box .animate.scroll {
  width: 105%;
}
.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
  width: 0;

  transition-delay: calc(0.3s * var(--i));
}

// BREAKPOINTS

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -100%;

    width: 100%;
    padding: 1rem 4%;

    transition: 0.25s ease;
    transition-delay: 0.25s;

    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .navbar.active {
    left: 0;

    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    transition: 0.25s ease;
    transition-delay: 0s;

    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    background: var(--bg-color);
  }

  .navbar .active .active-nav {
    left: 0;

    transition-delay: 0.25s;
  }
  .navbar a {
    display: block;

    margin: 3rem 0;

    transition: 0.25s ease;
    transition-delay: 0s;
    transform: translateX(-20rem);

    font-size: 2rem;
  }
  .navbar .active a {
    transition-delay: 0.25s;
    transform: translateX(0);
  }
  .home-imgHover {
    pointer-events: none;

    opacity: 0.6;
    background: var(--bg-color);
  }
}
@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .home-content h1 {
    display: flex;
    flex-direction: column;
  }
  .home-sci {
    width: 160px;
  }
  .home-sci a {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }
  .education {
    padding: 10rem 4% 5rem 5%;
  }
  .contact form .input-box .input-field {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    margin-top: 2rem;

    text-align: center;
  }
}
@media (max-width: 371px) {
  .home {
    justify-content: center;
  }
  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
  }
  .home-content h1 {
    font-size: 5rem;
  }
}

// KEYFRAMES ANIMATION
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;

    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes showRigth {
  100% {
    width: 0;
  }
}
